
body {
    margin-left: 200px;
    margin-right: 200px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    margin: 0;
    padding: 20px;
    float: left;
    width: 80px;    
    
    background-color: gray;
}

a {
    color: white;
    text-decoration-line: none;
}

li:has(a.active) {
    background-color: black;
}

.tab_content {
    clear: left;
    float: left;
    padding: 30px;
    width: 100%;
    background-color: black;
    color: white;
}