/* 웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 문서 전체의 스타일 적용 */
body {
    padding: 0;
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
    color: #35465d;
}

/* 헤더 영역 스타일 적용 */
.header {
    padding: 10px 0;
    background-color: white;
    min-width: 300px; /* 최소 너비 */
}

h1, h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

/* 중간 콘텐츠 영역 스타일 */

.container {
    background-color: #f6f7fa;  /* 배경 색 */
    display: flex; /* flex 디스플레이 */
    flex-direction: column; /* flex 디스플레이 방향 적용 */
    justify-content: center; /* 영역 내부 가운데 정렬 적용(flex) */
    align-items: center; /* 영역 내부 가운데 정렬 (flex) */
    min-width: 350px; /* 최소 너비 */
    max-width: 650px; /* 최대 너비 */
    min-height: 400px; /* 최소 높이 */
    padding: 20px 0; /* 상단과 하단의 내부 여백 */
    margin: 0 auto; /* 중간 콘텐츠 영역의 body 태그 내 가로 가운데 정렬 */
    border: 1px solid lightgray; /* 실선 테두리 */
    border-radius: 10px; /* 원형 테두리 */

}

/* 내부 area 영역 공통 스타일 */
.area {
    background-color: white;
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    border: 2px dashed steelblue;
    border-radius: 10px;
    margin: 0 auto; /* 내부 area 영역의 container div 태그 내 가로 가운데 정렬 적용 */
    padding: 20px;
    text-align: center; /* 텍스트 가운데 정렬 */
}

/* 파일 업로드 영역 스타일 적용 */
#upload-area {
    cursor: pointer; /* 마우스 올리면 손가락모양으로 커서 변경 */
}

#share-area {
    cursor: pointer;
    width: 250px;
    margin-top: 20px;
}

#retry-area {
    cursor: pointer;
    margin-top: 20px;
}

/* 마우스 오버시 스타일 적용 */
#upload-area:hover, #retry-area:hover {
    background-color: aliceblue;
}

.guide-image {
    font-size: 120px;
}

#upload-image {
    width: 55%;
    max-width: 540px;
}


/* 디스커스 영역(댓글) */
#disqus_thread {
    background-color: #f6f7fa;
    max-width: 650px;
    box-sizing: border-box;  /* 사이즈 기준 지정 */
    padding: 25px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid lightgray;
    border-radius: 10px;
}